#####################################################################
# cpp/d
#####################################################################

*.o
*.obj
*.so
*.a
*.bin
*.bc

#####################################################################
# archives
#####################################################################

*.tar
*.rar
*.zip
*.tar.bz2
*.tar.gz
*.tgz

*.deb

#####################################################################
# Texts
#####################################################################

*.log
*.txt
*.csv
*.csv#
*.json
*.ini
*.html
*.pdf
*.odt
*.ods
*.doc

#####################################################################
# Images
#####################################################################

*.png
*.jpg
*.jpeg
*.svg
*.gif

#####################################################################
# Other
#####################################################################

~*
*~
*~*

